* {
    box-sizing: border-box;
}

.Main {
    margin: 3rem auto 3rem;
}

.inside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

h1 {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    font-weight: bolder;
    color: white;
    background-color: rgb(56, 169, 56);
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.Elements {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    object-fit: fill;
    margin: 2%;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
}

.button {
    text-align: center;
    height: 2.5rem;
    width: 5rem;
    margin-top: 5%;
    cursor: pointer;
    color: black;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 1.5rem;
    margin-top: 2rem;
    font-weight: bolder;
}

.Content {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.entry {
    text-align: center;
    display: flex;
    color: green;
}

.black {
    color: rgb(113, 226, 113);
}

.entry p {
    text-align: center;
}

.Footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#Restartbtn {
    text-align: center;
    height: 3rem;
    width: 5rem;
    cursor: pointer;
    color: white;
    background-color: rgb(46, 165, 46);
    border: 2px solid black;
    border-radius: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bolder;
}